body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #222;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: "Fredoka One", cursive; }

.sandwich {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 25px;
  width: 50vw;
  height: 50vh; }

.sandwich * {
  margin-bottom: 4px;
  margin-top: 4px; }

input[type="button"] {
  width: 3vw; }

#bread-up, #bread-down {
  width: 50%;
  height: 5vh;
  background-color: sandybrown; }

#bread-up {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px; }

#bread-down {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; }

.cheese-small {
  width: 1%;
  height: 4vh;
  background-color: yellow;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.cheese {
  width: 90%;
  height: 4vh;
  background-color: yellow;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#sandwich-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
