$gray: #222;
$text: #fff;
$shadow: 0.1em 0.1em 0.2em black;
$font: 'Fredoka One', cursive;

body{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $gray;
  color: $text;
  text-shadow: $shadow;
  font-family: $font;
}

.sandwich{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 25px;
  width: 50vw;
  height: 50vh;
}
.sandwich *{
  margin-bottom: 4px;
  margin-top: 4px;
}
input[type="button"]{
  width: 3vw;
}

#bread-up,#bread-down{
  width: 50%;
  height: 5vh;
  background-color: sandybrown;
}
#bread-up{
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
#bread-down{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.cheese-small{
  width: 1%;
  height: 4vh;
  background-color: yellow;
  transition: 0.4s;
}
.cheese{
  width: 90%;
  height: 4vh;
  background-color: yellow;
  transition: 0.4s;
}
#sandwich-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

}